.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.month {
  font-size: large;
}

.week {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px 10px;
}

.day-of-week {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px 10px;
}

.day-label {
    grid-row-start: 1;
}

.day {
  border: 1px solid black;
  border-collapse:collapse;
  overflow: auto;
  height: 130px;
}
.Work {
  background-color: #0099ff;
}
.Family {
  background-color: #ff6666;
}
.Social {
  background-color: #00cc66;
}

.event {
  --span: 1;
  /* background-color: #CCC; */
  grid-column-end: span var(--span);
  border: 1px solid black;
}

.day:nth-child(1) > .event { grid-column-start: 1; }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
    text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li, nav li a {
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

nav li:hover {
  background-color: #111;
}

form {
  text-align: center;
}

#calendar {
    width: 100%;
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width:14.342%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: #8e352e;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar .days li {
    height: 180px;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 20px;
    border-radius: 50%;
    float: right;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}
